# Server
PORT=5001
CORS_ORIGIN=http://localhost:5173
JWT_SECRET=supersecretkey
DATABASE_URL="postgresql://user:password@localhost:5432/bigleap?schema=public"SQL
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=

# s3 
S3_REGION=
S3_BUCKET=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_PUBLIC_BASE_URL=

 
 