name: Frontend CI

on:
  pull_request:
    paths:
      - "frontend/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "npm"

      - name: Install dependencies
        working-directory: frontend
        run: npm install

      - name: Build TypeScript
        working-directory: frontend
        run: npm run build
